* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#itzrf {
    width: 75px;
    en: 1;
    height: 75px;
}

#iznzr9 {
    font-size: 81px;
}

#irpgxm {
    font-size: 23px;
    font-weight: 700;
}

.c2051 {
    display: none;
}

.c3076 {
    width: 339px;
}